*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
   
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
}
.logo{
    float: left;
    flex: 20%;
    text-align: right;
    height: 70px;
}
.logo img{
    width: 50%;
    height: auto;
}
.nav{
    flex: 60%;
    float: right;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
.menu a{
    text-decoration: none;
    clear: right;
     color: grey;
     line-height: 78px;
     padding: 20px 10px;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    display: none;
    line-height: 70px;
}
#toggle{
    display: none;
}
.icons{
    flex:20%;
    height: 70px;
}
.icons i{
    padding-left: 10px;
    padding-right: 15px;
    color: grey;
    padding-top: 25px;

}
.icons i:hover{
    color: #0074FF;
    transform: scale(1.2);
}
#menu:hover{
    border-bottom: 3px solid #0074FF;
}
.footer{
    padding-top: 5%;
    width: 100%;
    background-color: rgb(6, 6, 64) ;
    text-align: left;
}
.row1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2rem;
}
.metafooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.footer h4{
    color: white;
}
.footer p{
     color: grey;
     font-size: 0.8rem;
}
.footer i{
    padding-right: 20px;
}
.footer span{
    color:  #0074FF;
}
.metafooter{
    border-top: 1px solid grey;
}
.metafooter img{
    padding-top: 1rem;
}
.metafooter i:hover{
    color: white;
}
.shop-now {
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    background: rgb(238, 237, 237);
    font-weight: bold;    
}
.shop-now a {
    position: absolute;
    display: inline-block;
    padding: 15px 30px;
    color: #051c45;
    text-transform: upper;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.shop-now a:hover{
    color: white;
    background: #2186f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2169f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
a span{
    position: absolute;
    display: block;

}

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.shop-now a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.shop-now a:hover span:nth-child(3){
    right: 100%;
    transition: 0.8s;
    transition-delay: 0.4s;
}
a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.shop-now a:hover span:nth-child(2){
    top: 100%;
    transition: 0.8s;
    transition-delay: 0.25s;
}
a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.shop-now a:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.8s;
    transition-delay: 0.6s;
}

    body{
        background-color: white;
        padding: 10px 10px;
    }
.header2{
    padding-top: 10px;
    height: 150px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row img{
    padding-bottom: 1rem;
}
.col{
    max-width: 25%;
    height: auto;
    flex:25%;
    padding-left:  1rem;
    padding-bottom: 1rem;
}
.row img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media only screen and (max-width: 850px){
    body{
        margin: 0;
        padding: 0;
    }
    .logo{
        display: none;
    }
    .nav{
        padding: 0px;
        flex: 100%;
        z-index: 1;
    }
    header{
        background-color: white;
    }
    label{
        color: grey;
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }
    .menu{
        text-align: center;
        display: none;
    }
    label i:hover{
        color: #0074FF;
    }
    .icons{
        display: none;
    }
    .menu a{
        display: block;
        margin: 0;
        width: 100%;
        padding: 5px 5px;
        border: 1px solid white;
        background-color:  #0074FF;
        color: white;
    }
    .menu a:hover{
        background-color: rgb(118, 178, 252);
    }
    #toggle:checked + .menu{
        display: block;
    }



    .footer h4{
        font-size: 0.99rem;
    }
    .row21 p{
        font-size: 0.7rem;
    }
    .row23 p{
        font-size: 0.7rem;
    }
    .row11 p{
        font-size: 0.7rem;
    }
    .row11{
        padding-left: 5%;
        padding-right: 5%;
    }
    .row23 i{
        padding: 0 0.5rem;
    }
    .metafooter{
        padding-left: 10%;
        padding-right: 10%;
    }
    .col{
       flex: 50%;
       max-width: 50%;
    }
    img{
    margin-bottom: 10px;
}}
@media only screen and (max-width: 500px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
    .header{
        font-size: 1rem;
    }
    img{
    margin-top: 20px;
}
.footer h4{
    font-size: 0.9rem;
}
.row21 p{
    font-size: 0.6rem;
}
.row23 p{
    font-size: 0.6rem;
}
.row11 p{
    font-size: 0.6rem;
}
.row11{
    padding-left: 5%;
    padding-right: 5%;
}
.row23 i{
    padding: 0 0.1rem;
}
.metafooter{
    padding-left: 5%;
    padding-right: 5%;
}
}